$table-group-seperator-color: #dfe2e6;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.vue-wait, .vue-wait * {
    cursor: wait !important;
}

.card {
    .table th, .table td {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

html, body {
    margin: 25px 0 0;
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-between(sm, lg) {}
